# --------------------
# JetBrains IDEs files
# --------------------

# Project settings.
.idea/

# JIRA plugin.
atlassian-ide-plugin.xml

# --------------------
# SublimeText files
# --------------------

# Workspace settings.
*.sublime-workspace

# Project settings.
*.sublime-project

# --------------------
# OSX files
# --------------------

# Common OSX files.
.AppleDouble
.DS_Store
.LSOverride

# Thumbnails.
._*

# Files that might appear in the root of a volume.
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share.
.apdisk
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items

# --------------------
# Windows files
# --------------------

# Windows image file caches.
ehthumbs.db
Thumbs.db

# Folder config file.
Desktop.ini

# Recycle Bin used on file shares.
$RECYCLE.BIN/

# Windows Installer files.
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts.
*.lnk

# --------------------
# Linux files
# --------------------

# Tilde files.
*~

# KDE directory preferences.
.directory

# Linux trash folder which might appear on any partition or disk.
.Trash-*